@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: $primaryColor;
}
.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  height: 35vh;
  margin: auto;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $secondColor;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.top.small {
  height: 100px;
  display: block;
  img {
    top: 15px;
    margin-left: 100px;
    height: 100px;
  }
  p {
    display: none;
  }
}
.library.small {
  margin-top: 250px;
}

.add-book {
  padding: 4px 8px;
  border-radius: 9999px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: $yellow;
  border: 2px solid $darkerSecondColor;
  color: $primaryColor;
  font-size: 15px;
}
.add-book:hover {
  background-color: $darkerSecondColor;
  color: white;
  border-color: $yellow;
}
.library {
  margin: 44px;
  margin-top: 36vh;
  margin-inline: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: $lighterSecondColor;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 1rem;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 60px;
}
.book {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: $lightCream;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  font-size: smaller;
}
.book img {
  align-self: center;
  width: 100px;
}
.modal {
  .modal-content {
    padding: 15px;
  }
  .modal__choose-file {
    background: #000;
  }
}
.not-found {
  color: $lighterSecondColor;
}
.loading {
  width: 17px;
  height: 15px;
  display: flex;
  gap: 1px;
}
.inner-loading-first {
  width: 5px;
  background-color: $lighterSecondColor;
  align-self: flex-end;
  animation: firstLoading 1s infinite;
}
@keyframes firstLoading {
  0% {
    height: 100%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 0%;
  }
  75% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
.inner-loading-second {
  width: 5px;
  background-color: $lighterSecondColor;
  align-self: flex-end;
  animation: secondLoading 1s infinite;
}
@keyframes secondLoading {
  0% {
    height: 50%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.inner-loading-third {
  width: 5px;
  background-color: $lighterSecondColor;
  align-self: flex-end;
  animation: thirdLoading 1s infinite;
}
@keyframes thirdLoading {
  0% {
    height: 0%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 50%;
  }
  100% {
    height: 0%;
  }
}
.modal-box {
  background-color: $primaryColor;
  border: 3px solid $secondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $lighterGray;
  button {
    border: 1px solid $secondColor;
    background-color: $yellow;
    padding: 4px 8px;
    border-radius: 9999px;
    margin-top: 1rem;
    &:hover {
      background-color: $darkerSecondColor;
      border-color: $yellow;
      color: white;
    }
  }
  input {
    background-color: $lightCream;
    border: 2px solid $darkerSecondColor;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
  }
}
.log-out {
  padding: 4px 8px;
  border-radius: 9999px;
  position: fixed;
  top: 12px;
  left: 12px;
  background-color: $yellow;
  border: 2px solid $darkerSecondColor;
  color: $primaryColor;
  font-size: 15px;
  z-index: 100;
}
.log-out:hover {
  background-color: $darkerSecondColor;
  color: white;
  border-color: $yellow;
}
.modal {
  p {
    color: rgb(0, 255, 0);
    display: none;
    font-size: 20px;
    font-weight: bold;
  }
}
